@using Modelo
@model IEnumerable<Garante>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Garante</h1>

<p>Se presenta a continuación la lista de los garantes registrados en el sistema Aprobacion de Credito Bancaria</p>

<div class="container">

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de garantes</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block"
               asp-controller="Garante" asp-action="Create">
                Crear nuevo Garante
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombres</td>
                    <td>Apellidos</td>
                    <td>Cédula</td>
                    <td>Teléfono</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Garante garante in Model)
                {
                    <tr>
                        <td>@garante.GaranteId</td>
                        <td>@garante.NombreGarante</td>
                        <td>@garante.ApellidoGarante</td>
                        <td>@garante.CedulaGarante</td>
                        <td>@garante.TelefonoGarante</td>
                        <td>
                            <a class="btn btn-warning"
                               asp-controller="Garante" asp-action="Edit" asp-route-id="@garante.GaranteId">
                                Editar
                            </a>
                            <a class="btn btn-danger"
                               asp-controller="Clientes" asp-action="Delete" asp-route-id="@garante.GaranteId">
                                Borrar
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>