@using Modelo
@model IEnumerable<Historial_Cliente>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Historial del Cliente</h1>

<p>Se presenta a continuación el historial de los clientes registrados en el sistema Aprobacion de Credito Bancaria</p>

<div class="container">

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de registros</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block"
               asp-controller="HistorialCliente" asp-action="Create">
                Crear nuevo registro en el Historial del Cliente
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Numero Cuota </td>
                    <td>Fecha Pago Real</td>
                    <td>Fecha Pago Solicitada</td>
                    <td>Saldo</td>
                    <td>Dias de Retraso</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Historial_Cliente historial_cliente in Model)
                {
                <tr>
                    <td>@historial_cliente.Historial_ClienteId</td>
                    <td>@historial_cliente.NumeroCuota</td>
                    <td>@historial_cliente.FechaPagoReal</td>
                    <td>@historial_cliente.FechaPagoSolicitada</td>
                    <td>@historial_cliente.Saldo</td>
                    <td>@historial_cliente.DiasRetrasoCliente</td>
                    <td>
                        <a class="btn btn-warning"
                           asp-controller="HistorialCliente" asp-action="Edit" asp-route-id="@historial_cliente.Historial_ClienteId">
                            Editar
                        </a>
                        <a class="btn btn-danger"
                           asp-controller="HistorialCliente" asp-action="Delete" asp-route-id="@historial_cliente.Historial_ClienteId">
                            Borrar
                        </a>

                        <a class="btn btn-warning"
                           asp-controller="HistorialCliente" asp-action="Validar" asp-route-id= "@historial_cliente.Historial_ClienteId">
                            Ver
                        </a>
                    </td>
                  
                </tr>

                }
            </tbody>
        </table>
    </div>
</div>